# Clé nécessaire pour les appels à l'API Mistral.
MISTRAL_API_KEY=votre_cle_api_mistral

# Paramètres optionnels.
MODEL_NAME=mistral-small-latest
EMBEDDING_MODEL=mistral-embed
LOGFIRE_TOKEN=
DISABLE_SSL_VERIFICATION=0